{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
      {% if post.citation %}
        <p class="archive__item-excerpt" itemprop="description">
          {{ post.citation | markdownify | remove: "<p>" | remove: "</p>" }}
          {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper</a>{% endif %}
          {% if post.bibtexurl %} <a href="{{ post.bibtexurl }}">BibTeX</a>{% endif %}
        </p>
      {% else %}
        <p class="archive__item-excerpt" itemprop="description">{{ title }}</p>
      {% endif %}
    </li>
  </article>
</div>
